Ex10_1_Client/xml-resources/web-service-references/Calcircle/wsdl/localhost_8080/Ex10_1/Calcircle.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="callinecircle" type="tns:callinecircle"/>

<xs:element name="callinecircleResponse" type="tns:callinecircleResponse"/>

<xs:element name="findcirclrarea" type="tns:findcirclrarea"/>

<xs:element name="findcirclrareaResponse" type="tns:findcirclrareaResponse"/>

<xs:complexType name="findcirclrarea">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findcirclrareaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callinecircle">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callinecircleResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>