Ex10_2_client/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/Ex10_2_SOAP/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Ex10_2_SOAP/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="RollbackException">
<part name="fault" element="tns:RollbackException"/>
</message>
<message name="HeuristicMixedException">
<part name="fault" element="tns:HeuristicMixedException"/>
</message>
<message name="HeuristicRollbackException">
<part name="fault" element="tns:HeuristicRollbackException"/>
</message>
<message name="SystemException">
<part name="fault" element="tns:SystemException"/>
</message>
<message name="NotSupportedException">
<part name="fault" element="tns:NotSupportedException"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="findStudentById">
<part name="parameters" element="tns:findStudentById"/>
</message>
<message name="findStudentByIdResponse">
<part name="parameters" element="tns:findStudentByIdResponse"/>
</message>
<portType name="StudentWebService">
<operation name="update">
<input wsam:Action="http://services/StudentWebService/updateRequest" message="tns:update"/>
<output wsam:Action="http://services/StudentWebService/updateResponse" message="tns:updateResponse"/>
<fault message="tns:RollbackException" name="RollbackException" wsam:Action="http://services/StudentWebService/update/Fault/RollbackException"/>
<fault message="tns:HeuristicMixedException" name="HeuristicMixedException" wsam:Action="http://services/StudentWebService/update/Fault/HeuristicMixedException"/>
<fault message="tns:HeuristicRollbackException" name="HeuristicRollbackException" wsam:Action="http://services/StudentWebService/update/Fault/HeuristicRollbackException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://services/StudentWebService/update/Fault/SystemException"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://services/StudentWebService/update/Fault/NotSupportedException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://services/StudentWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services/StudentWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://services/StudentWebService/insertRequest" message="tns:insert"/>
<output wsam:Action="http://services/StudentWebService/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="findStudentById">
<input wsam:Action="http://services/StudentWebService/findStudentByIdRequest" message="tns:findStudentById"/>
<output wsam:Action="http://services/StudentWebService/findStudentByIdResponse" message="tns:findStudentByIdResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RollbackException">
<soap:fault name="RollbackException" use="literal"/>
</fault>
<fault name="HeuristicMixedException">
<soap:fault name="HeuristicMixedException" use="literal"/>
</fault>
<fault name="HeuristicRollbackException">
<soap:fault name="HeuristicRollbackException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/Ex10_2_SOAP/StudentWebService"/>
</port>
</service>
</definitions>